@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");

#brands-heading {
  font-family: Ubuntu;
  margin-top: 2rem;
  text-align: center;
}

#brands {
  padding: 1rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  padding-bottom: 4rem;
}

.card-img {
  max-width: 100%;
}
.brands-card {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
  width: 280px;
  margin-right: 1.2rem;
  margin-bottom: 2rem;
  cursor: pointer;
}
.card-header {
  height: 250px;
}
.card-header img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.card-content {
  background-color: #fff;
}
.card-title {
  height: 25px;
  text-align: center;
  font-family: Ubuntu;
  font-size: 26px;
}
.card-description {
  padding-left: 1rem;
}
.card-btn {
  text-align: center;
  padding: 2px 20px;
  /* width: 130px; */
  height: 35px;
  font-size: 18px;
  border-radius: 20px;
  cursor: pointer;
  margin: 17px;
}
.card-btn:hover {
  background-color: rgb(228, 165, 49);
  color: white;
}
