body {
  background: -webkit-radial-gradient(
    center top,
    rgb(252, 252, 252),
    rgb(227, 225, 230)
  );
}

footer {
  background: black;
  color: white;
  padding: 20px;
  margin-top: 1rem;
}
.center {
  text-align: center;
}
